<html>

      <body>
            <p>welcome to test home</p>
            <form action = "http://127.0.0.1:8080/login">
                  <input type = "submit" value = "Login" />
            </form>
            <form action = "http://127.0.0.1:8080/signup">
                  <input type = "submit" value = "Sign Up" />
            </form>
            
            <a href='/google_login'>
                  <button>Sign in Using Google</button>
            </a>
            <a href='/fb-login'>
                  <button>Sign in Using Facebook</button>
            </a>
            <!-- <a href='https://www.facebook.com/dialog/oauth?client_id=1163520467436459&redirect_uri=https%3A%2F%2Fgithub.com%2Fabhijeet-bote%2Fstarter'>
                  <button>Sign in Using Facebook</button>
            </a> -->
            

      </body>
</html>