<html>
   <body>
      <form action = "http://127.0.0.1:8080/signupsuccess" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "name" placeholder="Enter Username"/></p>
         <p>Enter email:</p>
         <p><input type = "email" name = "email" placeholder="Enter Email" /></p>
         enter password:
         <p><input type = "password" name = "pwd" placeholder="Enter Password"/></p>

         <p><input type = "submit" value = "Sign Up" /></p>
      </form>
   </body>
</html>